<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:myApp00.properties"/>


    <bean
            id="windowLera"
            class="spring_introduction.train.Window">
        <property name="color" value="${window.color}"/>
        <property name="size" value="${window.size2}"/>

    </bean>

    <bean
            id="doorLera"
            class="spring_introduction.train.Door">
        <property name="material" value="${door.material2}"/>

    </bean>

    <bean
            id="wallLera"
            class="spring_introduction.train.Wall">
        <property name="surface" value="${wall.surface2}"/>

    </bean>

    <bean
            id="houseLera"
            class="spring_introduction.train.House">
        <constructor-arg value="${house.number2}"/>
        <constructor-arg ref="doorLera"/>
        <constructor-arg ref="wallLera"/>
        <constructor-arg ref="windowLera"/>

    </bean>

    <bean
            id="petLera"
            class="spring_introduction.train.Cat">
        <constructor-arg value="${pet.name2}"/>

    </bean>

    <bean
            id="carLera"
            class="spring_introduction.train.Car">
        <property name="model" value="${car.model2}"/>
        <property name="color" value="${car.color2}"/>
    </bean>

    <bean
            id="Serhii"
            class="spring_introduction.train.Employee"
            scope="prototype">
        <constructor-arg value="${person.name2}"/>
        <constructor-arg value="${person.surname2}"/>
        <constructor-arg value="${person.age2}"/>
        <constructor-arg ref="carLera"/>
        <constructor-arg ref="petLera"/>
        <constructor-arg ref="houseLera"/>

    </bean>







</beans>